<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<%= csrf_meta_tag %>
		<%= render 'layouts/stylesheets' %>
	</head>
	<body id="application.html" onload="">
		<div class="container">
			<%= render 'layouts/heaader' %>
			<section class="round">		
				<%= yield %>
			</section>
		</div>		
	</body>
</html>